.app {
  height: 100vh;

  .section {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightsalmon;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .plan {
      height: calc(100vh - 105px);
    }

    .footer {
      height: calc(100vh - 280px);
    }
    > * {
      width: 100%;
      height: calc(100vh - 70px);
    }
  }
}
